body {
    font-family: Arial, sans-serif;
    background-image: url(espace\ \(2\).jpg);
    background-size: contain;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: #fff;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 0px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="file"] {
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 12px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}